<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HomeWork</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserRegisterServlet</display-name>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>controller.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/UserRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginDao</display-name>
    <servlet-name>LoginDao</servlet-name>
    <servlet-class>model.LoginDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginDao</servlet-name>
    <url-pattern>/LoginDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SurveyServlet</display-name>
    <servlet-name>SurveyServlet</servlet-name>
    <servlet-class>controller.SurveyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SurveyServlet</servlet-name>
    <url-pattern>/SurveyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionServlet</display-name>
    <servlet-name>QuestionServlet</servlet-name>
    <servlet-class>controller.QuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionServlet</servlet-name>
    <url-pattern>/QuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OptionServlet</display-name>
    <servlet-name>OptionServlet</servlet-name>
    <servlet-class>controller.OptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OptionServlet</servlet-name>
    <url-pattern>/OptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetquestionServlet</display-name>
    <servlet-name>SetquestionServlet</servlet-name>
    <servlet-class>controller.SetquestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetquestionServlet</servlet-name>
    <url-pattern>/SetquestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionList</display-name>
    <servlet-name>QuestionList</servlet-name>
    <servlet-class>controller.QuestionList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionList</servlet-name>
    <url-pattern>/QuestionList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OptionList</display-name>
    <servlet-name>OptionList</servlet-name>
    <servlet-class>controller.OptionList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OptionList</servlet-name>
    <url-pattern>/OptionList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MySurveyServlet</display-name>
    <servlet-name>MySurveyServlet</servlet-name>
    <servlet-class>controller.MySurveyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MySurveyServlet</servlet-name>
    <url-pattern>/MySurveyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetoptionServlet</display-name>
    <servlet-name>SetoptionServlet</servlet-name>
    <servlet-class>controller.SetoptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetoptionServlet</servlet-name>
    <url-pattern>/SetoptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionText</display-name>
    <servlet-name>QuestionText</servlet-name>
    <servlet-class>controller.QuestionText</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionText</servlet-name>
    <url-pattern>/QuestionText</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExaminaServlet</display-name>
    <servlet-name>ExaminaServlet</servlet-name>
    <servlet-class>controller.ExaminaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExaminaServlet</servlet-name>
    <url-pattern>/ExaminaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetstateServlet</display-name>
    <servlet-name>SetstateServlet</servlet-name>
    <servlet-class>controller.SetstateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetstateServlet</servlet-name>
    <url-pattern>/SetstateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LinkServlet</display-name>
    <servlet-name>LinkServlet</servlet-name>
    <servlet-class>controller.LinkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LinkServlet</servlet-name>
    <url-pattern>/LinkServlet</url-pattern>
  </servlet-mapping>
  <jsp-config>
	<taglib>
    	<taglib-uri>simpleTags</taglib-uri>
        <taglib-location>/WEB-INF/lib/simple.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>AddoptionServlet</display-name>
    <servlet-name>AddoptionServlet</servlet-name>
    <servlet-class>controller.AddoptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddoptionServlet</servlet-name>
    <url-pattern>/AddoptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnswerServlet</display-name>
    <servlet-name>AnswerServlet</servlet-name>
    <servlet-class>controller.AnswerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnswerServlet</servlet-name>
    <url-pattern>/AnswerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CountServlet</display-name>
    <servlet-name>CountServlet</servlet-name>
    <servlet-class>controller.CountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CountServlet</servlet-name>
    <url-pattern>/CountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SumServlet</display-name>
    <servlet-name>SumServlet</servlet-name>
    <servlet-class>controller.SumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SumServlet</servlet-name>
    <url-pattern>/SumServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TJServlet</display-name>
    <servlet-name>TJServlet</servlet-name>
    <servlet-class>controller.TJServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TJServlet</servlet-name>
    <url-pattern>/TJServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TXServlet</display-name>
    <servlet-name>TXServlet</servlet-name>
    <servlet-class>controller.TXServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TXServlet</servlet-name>
    <url-pattern>/TXServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResultServlet</display-name>
    <servlet-name>ResultServlet</servlet-name>
    <servlet-class>controller.ResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultServlet</servlet-name>
    <url-pattern>/ResultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Result1</display-name>
    <servlet-name>Result1</servlet-name>
    <servlet-class>controller.Result1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Result1</servlet-name>
    <url-pattern>/Result1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Count1</display-name>
    <servlet-name>Count1</servlet-name>
    <servlet-class>controller.Count1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Count1</servlet-name>
    <url-pattern>/Count1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modifyInformation</display-name>
    <servlet-name>modifyInformation</servlet-name>
    <servlet-class>controller.modifyInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyInformation</servlet-name>
    <url-pattern>/modifyInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchHou</display-name>
    <servlet-name>SearchHou</servlet-name>
    <servlet-class>controller.SearchHou</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchHou</servlet-name>
    <url-pattern>/SearchHou</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchSurvey</display-name>
    <servlet-name>SearchSurvey</servlet-name>
    <servlet-class>controller.SearchSurvey</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchSurvey</servlet-name>
    <url-pattern>/SearchSurvey</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchUser</display-name>
    <servlet-name>SearchUser</servlet-name>
    <servlet-class>controller.SearchUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchUser</servlet-name>
    <url-pattern>/SearchUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changePassword</display-name>
    <servlet-name>changePassword</servlet-name>
    <servlet-class>controller.changePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changePassword</servlet-name>
    <url-pattern>/changePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDetail</display-name>
    <servlet-name>UserDetail</servlet-name>
    <servlet-class>controller.UserDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDetail</servlet-name>
    <url-pattern>/UserDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>umodifyInformation</display-name>
    <servlet-name>umodifyInformation</servlet-name>
    <servlet-class>controller.umodifyInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>umodifyInformation</servlet-name>
    <url-pattern>/umodifyInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>controller.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>controller.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
</web-app>